* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 1em;
  width: 100%;
  text-align: center;
}

.dropdown {
  margin: 1em 0;
  padding: .5em;
}

.flex {
  min-height: 66vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  margin: 1em;
  padding: 0.5em;
  width: 100%;
  border-radius: 8px;
  font-size: 1.5em;
}

.box.confirmed {
  border: 1px solid #ce9b61;
  background: #f0bc81;
}

.box.recovered {
  border: 1px solid #95c458;
  background: #c0f081;
}

.box.deaths {
  border: 1px solid #ce8c61;
  background: #f08e81;
}

@media screen and (min-width: 900px) {
  .flex {
    flex-wrap: nowrap;
  }

  .box {
    max-width: 300px;
    line-height: 1.5;
    font-size: 2em;
  }
}
